## Data Structures Assignments:-- Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tup = tuple(range(1,11))
print(tup)
print(type(tup))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [2]:
first_element = tup[0]
middle_ele = tup[len(tup)//2 - 1]  
last_element = tup[-1]
print(f'First element: {first_element}')
print(f'Middle element: {middle_ele}')
print(f'Last element: {last_element}')

First element: 1
Middle element: 5
Last element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [7]:
print(tup)
print(f'First three element: {tup[0:3]}')
print(f'Last three element: {tup[7:10]}')
print(f'Element from 2 to 5: {tup[1:5]}')

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
First three element: (1, 2, 3)
Last three element: (8, 9, 10)
Element from 2 to 5: (2, 3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [11]:
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)    
)
for row in matrix:
    print(row)

print(f'Element at second row and third column is: {matrix[1][2]}')

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column is: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [12]:
tup1 = (1,2,3)
tup2 = (4,5,6)
concatenated_tup = tup1 + tup2
print(concatenated_tup)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [17]:
tup = (1,2,2,3,3,4,4,4,4,4,5,6,6,7,7,8)
count = tup.count(4)
print(f'Count of element four is: {count}')
first_occurance = tup.index(3)
print(f'First occurance of element three at index: {first_occurance}')

Count of element four is: 5
First occurance of element three at index: 3

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [20]:
a,b,c,d,e = 1,2,3,4,5

print(f'a: {a}')
print(f'b: {b}')
print(f'c: {c}')
print(f'd: {d}')
print(f'e: {e}')

a: 1
b: 2
c: 3
d: 4
e: 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [25]:
lst = list(range(1,5))
print(f'List: {lst}')
print(type(lst))
tup = tuple(lst)
print(f'Tuple: {tup}')
print(type(tup))

List: [1, 2, 3, 4]
<class 'list'>
Tuple: (1, 2, 3, 4)
<class 'tuple'>

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [29]:
tup = ((1,2,3),(4,5,6),(7,8,9))
print(tup)
print(type(tup))
print(f'Tuple Of Tuples:')
for tpl in tup:
    print(tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))
<class 'tuple'>
Tuple Of Tuples:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [34]:
tup = tuple(range(1,6))
print(tup)
print(type(tup))

lst = list(tup)
print(lst)
print(type(lst))
lst.append(6)
tup1 = tuple(lst)
print(tup1)

(1, 2, 3, 4, 5)
<class 'tuple'>
[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [38]:
tup = ('h','e','l','l','o')
print(tup)

joined_str = ''.join(tup)
print(f'After joint tuple: {joined_str}')

('h', 'e', 'l', 'l', 'o')
After joint tuple: hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [42]:
my_dict = {
    (1,2) : 3,
    (3,4) : 7,
    (5,6) : 11,
    (7,8) : 15
}
print(my_dict)
print(f'Keys: {my_dict.keys()}')
print(f'Values: {my_dict.values()}')

{(1, 2): 3, (3, 4): 7, (5, 6): 11, (7, 8): 15}
Keys: dict_keys([(1, 2), (3, 4), (5, 6), (7, 8)])
Values: dict_values([3, 7, 11, 15])

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [44]:
tup = ((1,2,3,4),(4,5,3,7),('a','b','c','d'))
print(f'Tuple of Tuples: {tup}')
for element in tup:
    print(element)

Tuple of Tuples: ((1, 2, 3, 4), (4, 5, 3, 7), ('a', 'b', 'c', 'd'))
(1, 2, 3, 4)
(4, 5, 3, 7)
('a', 'b', 'c', 'd')

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [45]:
tup = (1,2,2,3,3,4,2,5,4,6,6,6,7,7,8)
print(f'Tuple: {tup}')
set1 = set(tup)

print(f'After removed duplicates: {set1}')

Tuple: (1, 2, 2, 3, 3, 4, 2, 5, 4, 6, 6, 6, 7, 7, 8)
After removed duplicates: {1, 2, 3, 4, 5, 6, 7, 8}